<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista obecności</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <h2 class="title">Dodaj wpis obecności</h2>
    <p>
        <a href="{{ url_for('raport') }}" class="btn">Raport</a> | <a href="{{ url_for('logout') }}" class="btn">Wyloguj</a>
    </p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}<ul>{% for msg in messages %}<li>{{ msg }}</li>{% endfor %}</ul>{% endif %}
    {% endwith %}
    <form method="POST">
        Data: <input type="date" name="date" value="{{ today }}" required><br>

        <label for="start_time">Początek pracy:</label>
        <input type="time" name="start_time" required step="900" value="{{ default_start }}"><br>
        
        <label for="start_time">Koniec pracy:</label>
        <input type="time" name="end_time" required step="900" value="{{ default_end }}"><br>

        <label for="start_time">Rodzaj pracy:</label>
        <select name="work_type">
            <option value="normalny">Normalny</option>
            <option value="nadgodziny">Nadgodziny</option>
            <option value="praca zdalna">Praca zdalna</option>
            <option value="urlop">Urlop</option>
            <option value="L4">L4</option>
            <option value="opieka nad dzieckiem">Opieka nad dzieckiem</option>
        </select><br>

        <label for="description">Uwagi:</label> 
        <textarea maxlength="70" name="description"></textarea><br>
        
        <button type="submit" class="btn">Zapisz</button>
    </form>
</body>
</html>
