<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szczegółowy raport obecności</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Sczegółowy raport obecności - {{ username }}</h2>
    <p><a href="{{ url_for('raport') }}" class="btn">Powrót</a> | <a href="{{ url_for('logout') }}" class="btn">Wyloguj</a></p>
    <table class="reptab">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Początek</th>
                <th>Koniec</th>
                <th>Godzin</th>
                <th>Rodzaj pracy</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for e in entries %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.date }}</td>
                <td>{{ e.start_time.strftime('%H:%M') }}</td>
                <td>{{ e.end_time.strftime('%H:%M') }}</td>
                <td>{{ ((datetime.combine(e.date, e.end_time) - datetime.combine(e.date, e.start_time)).seconds // 3600) + (((datetime.combine(e.date, e.end_time) - datetime.combine(e.date, e.start_time)).seconds % 3600) // 60) / 60 }}</td>
                <td>{{ e.work_type }}</td>
                <td class="desc">{{ e.description or '' }}</td>
                <td>
                    <a href="{{ url_for('delete_entry', entry_id=e.id) }}" class="action" onclick="return confirm('Na pewno usunąć ten wpis?');">Usuń</a><br>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="toggle-dark-mode" style="position: fixed; top: 10px; right: 10px; z-index: 999;">
        🌙
    </button>
    <script src="{{ url_for('static', filename='js/mode.js') }}"></script>
</body>
</html>
