<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Logowanie</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label>Użytkownik:</label><br>
        <input type="text" name="username"><br>
        <label>Hasło:</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Zaloguj">
    </form>
</body>
</html>
