<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Logowanie</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
        <label>Użytkownik:</label><br>
        <input type="text" name="username"><br>
        <label>Hasło:</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Zaloguj" class="btn">
    </form>
    <button id="toggle-dark-mode" style="position: fixed; top: 10px; right: 10px; z-index: 999;">
      🌙
    </button>
    <script src="{{ url_for('static', filename='js/mode.js') }}"></script>
</body>
</html>
